@import url(variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    
}
body {
    display: flex;
    flex-direction: column;
}
.container2 {
    background-color: rgb(7, 1, 19);
    height: 500vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contimg2 {
    position: absolute;
    z-index: -100;
    background-image: url(../storage/img/placeYourImageHereFood.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    
}

.contimg2 .img3 {
    position: absolute;
    margin-top: 1500px;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: flex-start;
}
.contimg2 .img3 div {
    width: 40%;
    height: 100vh;
    background-image: url(../storage/img/placeYourImageHereFood3.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.contimg2 .img1  {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-end;

}
.contimg2 .img1 div {
    z-index: 100;
    width: 25%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../storage/img/placeYourImageHereFood0.png);
}
.contimg2 .img2  {
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    

}
.contimg2 .img2 div {
    z-index: 100;
    width: 50%;
    height: 120vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../storage/img/placeYourImageHereFood1.png);
}
.subcontainer2 {
    z-index: 100;
    margin-top: 600px;
    width: 100%;
    height: 400vh;
    display: flex;
}
.subcontainer1 {
    z-index: 100;
    width: 70%;
    height: 50vh;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.contimg {
    position: absolute;
}
.texto1 {
    margin-left: 200px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 300px;
    width: 600px;
    height: 50vh;
    color: var(--color-font);
}
.texto1 .h1 {
    margin-top: 200px;
    margin-bottom: 20px;
    font-size: xx-large;
}
.texto .h2 {
    margin: 0;
    font-size: x-large;
}
.texto {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 300px;
    width: 500px;
    height: 50vh;
    color: var(--color-font);
}
.texto div {
    margin-top: 200px;
    margin-bottom: 20px;
    font-size: xx-large;
}
.contimg1 {
    margin-top: 200px;
    width: 600px;
    height: 60vh;
    background-image: url(../storage/img/placeYourImageHereGaleria0.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.contimg img {
    height: 380vh;
    width: 100%;
    margin-top: 120vh;
}
header nav div a{
    color: var(--color-font);
    text-decoration: none;
}

.container {
    color: var(--color-font);
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(#252833af, #252833af), url(../storage/img/placeYourImageHere0.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
    

}

.pepe1{
    z-index: 100;
    position: relative;
    background-image: url(../storage/img/placeYourImageHere1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 700px;
    height: 700px;
    margin-top: 150px;
    margin-right: 90px;

}
.pepe {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 180px;

}

.pepe div{
    width: 100%;
    position: relative;
    font-size: xx-large;
    color: #e58f00;
    margin-bottom: 20px;
}

.pepe h2{
    margin-bottom: 20px;
}

article {
    width: 200px;
    height: 60px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e58f00;
    font-size: x-large;
}

header {
    width: 100%;
    height: 20vh;
    position: absolute;


}
nav {
    width: auto;
    height: 20vh;
    display: flex;
    justify-content: space-around;

}
header div{
    width: 350px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between; 
    padding: 25px;
}

.img div {
    width: 97px;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
}
